<div class="main-container">
  <div class="main-content">
    <!-- <h1>Worldcoin Mini App</h1>
    <p>Welcome to the main screen.</p> -->
    <!-- <app-world-map></app-world-map> -->
    <div *ngIf="false; else map"></div>
  </div>

  <nav class="bottom-navbar">
    <button class="nav-button">
      <span class="material-icons">home</span>
    </button>
    <button class="nav-button">
      <span class="material-icons">qr_code_scanner</span>
    </button>
    <button class="nav-button">
      <span class="material-icons">person</span>
    </button>
    <button class="nav-button">
      <span class="material-icons">settings</span>
    </button>
  </nav>
</div>

<ng-template #map>
  <div style="height: 100%;width: 100%;position: absolute;display: flex;flex-direction: column;">
    <div style="display: flex;justify-content: center;align-items: center;">
      {{wallet}}
      <h1>True Story</h1>
      <img src="../../../assets/logo.png" alt="Worldcoin Logo" style="width: 40px; height:60px" />
    </div>
    <app-world-map style="flex: 1;
    position: relative;"></app-world-map>
  </div>
</ng-template>
<ng-template #post>
  <div style="height: 100%;width: 100%;position: absolute;display: flex;flex-direction: column;">
    <div style="display: flex;justify-content: center;align-items: center;">
      <h1>Nuevo Post</h1>
      <img src="../../../assets/logo.png" alt="Worldcoin Logo" style="width: 40px; height:60px" />
    </div>
    <app-create-post style="flex: 1;"></app-create-post>
  </div>
</ng-template>