.default {
  background: black;
  color: white;
  border-radius: 20px;
  border: none;

}

.default:hover {
  cursor: pointer;
}

.disable {
  opacity: 0.2
}

.disable:hover {
  cursor: not-allowed;
}

.small {
  width: 100px;
  height: 20px;
}

.normal {
  width: 150px;
  height: 40px;
}

.large {
  width: 200px;
  height: 60px;
}