.map-container {
  height: 100%;
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

google-map {
  border-radius: 0;
}

.filer {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: white;
  position: absolute;
  right: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  z-index: 900;
}

.float {
  transform: translate(-90%, 90%);
  position: absolute;
  bottom: 0;
  padding-top: 8px;
  left: 0;
  z-index: 900;
}

.filterPopUp {
  width: 150px;
}