<form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="post-form" *ngIf="!loadingFlag;else loading">

  <input formControlName="titulo" type="text" placeholder="Título" />
  <select formControlName="categoria">
    <option *ngFor="let cat of categories" [value]="cat.label">{{cat.label}}</option>
  </select>

  <label class="upload-label">
    📷 Subir imagen
    <input type="file" (change)="onFileChange($event)" />
  </label>
  <img *ngIf="imagePreview" [src]="imagePreview" class="preview-img" />

  <google-map height="300px" width="100%" [center]="mapCenter" [zoom]="14" (mapClick)="onMapClick($event)">
    <map-marker *ngIf="markerPosition" [position]="markerPosition" [options]="options"></map-marker>
  </google-map>
  <button type="submit">Publicar</button>
</form>
<ng-template #loading>
  <app-loading-spinner style="height: 100%;"></app-loading-spinner>

</ng-template>
<app-success-popup *ngIf="showSuccessPopup" title="Post Creado"
  subtitle="Gracias por tu compartir con nosotros."></app-success-popup>